<div id="{{ component.id }}">
    {% if db.get_todos() %}
        <ul>
        {% for todo in db.get_todos() %}
            <li>
                <form style="display: inline;">
                    {{ Input(type="checkbox", checked=todo.finished, target=component.toggle(todo.id)) }}
                </form>
                {{ 
                    A(
                        todo.message if not todo.finished else S(todo.message),
                        click=router("edit", todo_id=todo.id),
                        push_url="/edit/" ~ todo.id,
                        style="display: inline;",
                    )
                }}
                {{
                    A(
                        Img(src="/static/images/trash-2.svg"),
                        click=component.delete_todo(todo.id),
                        style="display: inline;",
                        confirm="Are you sure you want to delete this todo?",
                    )
                }}
            </li>
        {% endfor %}
        </ul>
        {{ A(
            Img(src="/static/images/plus.svg"),
            "Add Todo",
            click=router("add"),
            push_url="/add"
            )
        }}
    {% endif %}
    {% if not db.get_todos() %}
    <article>
        <p>No todos found.</p>
        {{ A(
            Img(src="/static/images/plus.svg"),
            "Add Todo",
            click=router("add"),
            push_url="/add"
          ) 
        }}
    </article>
    {% endif %}
</div>